/*기존 css 복사*/
html {
    /* global css var */
    --img-blur: 0px;
    --text-color: #544f4f;
    --text-dark-color: #2b2222;
    --text-light-color: #797979;
    --title-text-color: #111;
    --subtitle-text-color: #111;
    --icon-color: #858585;
    --border-size: 1px;
    --border-color: #ddd;
    --border-light-color: #ebebeb;
    --border-dark-color: #ebebeb;
    --wave-color: #fff;
    --primary-bg-color: #fff;
    --secondary-bg-color: #f9f9f9;
    --third-bg-color: #f9f9f9;
    --fourth-bg-color: #fff;
    --footer-bg-color: #f6f6f6;
    --margin-bg-color: #333;
    --btn-bg-color: rgba(0, 0, 0, 0);
    --btn-text-color: #404040;
    --btn-border-color: #878787;
    --btn-dark-bg-color: #f9f9f9;
    --btn-dark-text-color: #111;
    --btn-dark-border-color: #eaeaea;
    --font-size: 18px;
    --common-margin-lr: 2rem;
    --calendar-margin-lr: 3rem;
    /* --font-regular: IropkeBatangM; */
    --font-regular-spacing: 0;
    /* --font-gothic: Pretendard Variable; */
    --font-gothic-spacing: -0.2px;
    /* --font-bold: IropkeBatangM; */
    --font-bold-weight: bold;

    font-size: calc(var(--font-size) * 430 / 390);
    overflow: scroll;
}

body {
    padding: 0;
    margin: 0;
    background-color: #000000;
    height: 100vh;
}

.mcard-view {
    text-align: center;
    font-family: "MaruBuri-Light", sans-serif;
    background-color: White;
    padding: 0;
    margin: auto;
    max-width: 430px;
    line-height: 2rem;
}

@font-face {
    font-family: 'MaruBuri-Light';
    src: url('../fonts/MaruBuri-Light.ttf')
}

@font-face {
    font-family: 'Crimson-Pro';
    src: url('../fonts/CrimsonPro-Regular.ttf')
}

/* 여기가 mcard intro */
.mcard-intro {
    margin: 0 0 40px;
}

.photo {
    max-width: 430px;
    object-fit: cover;
    width: 100vw;
}

.name-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.5rem;
    padding: 0 24px;
    padding-top: 0px;
    padding-right: 24px;
    padding-bottom: 0px;
    padding-left: 24px;
}

.divider {
    font-size: 1.2rem;
}

/* 신랑,신부 이름에 붙은 css */
.name {
    font-size: 1.2rem;
    vertical-align: middle;
}

.bride,
.groom {
    flex: 999;
}

.name-wrap,
.date-place {
    padding: 20px 0;
}

.mcard-intro .date {
    font-size: .9rem;
    letter-spacing: 2px;
    line-height: 1rem;
    font-family: 'Crimson-Pro';
}

.mcard-intro .place {
    line-height: 1.6rem;
    margin-top: 0.4rem;
}

/* mcard-intro */

/* word */
.word {
    font-size: 0.9rem;
    letter-spacing: normal;
}

.paragraph-wrap {
    margin: 1px 0;
    padding: 40px 0;
}

.paragraph-wrap .title {
    margin-bottom: 40px;
}

.paragraph-wrap .circle {
    display: inline-block;
    margin: 0 1px;
    width: 0.3rem;
    height: 0.3rem;
    background: var(--icon-color);
    transform: rotate(45deg);
    opacity: .21;
    vertical-align: middle;
}

.paragraph-wrap .text {
    margin: 20px 1rem 0;
    font-size: .8rem;
}

/* word */

/* greeting-wrap */
.greeting-wrap {
    padding: 40px 0;
}

.text-box1 {
    letter-spacing: 0.5px;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.text-box2 {
    font-size: .8rem;
    line-height: 2rem;
    width: 260px;
    display: inline-block;
    white-space-collapse: collapse;
    margin: 16px 1rem 3.2rem;
}

.photo-div-box {
    height: 220px;
    overflow: hidden;
    margin-bottom: 20px;
}

.font-size-8 {
    font-size: .8rem;
    color: #8a857f;
    display: inline-block;
    width: 51px;
}

.font-brown {
    color: #c28e79;
    font-weight: 600;
}

.call-btn {
    background: transparent;
    border-radius: 20px;
    border-width: 1px;
    padding: 7px 40px 7px 40px;
}

/* greeting-wrap */

/* calendar-wrap */
.calendar-wrap {
    padding: 30px 0;
}

.calendar-inner {
    padding: 2.6rem 0 3rem;
    color: var(--text-color);
    background: var(--secondary-bg-color);
    border: var(--border-size) solid var(--border-light-color);
    border-left: 0;
    border-right: 0;
}


.calendar-wrap .date {
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: var(--subtitle-text-color);
    letter-spacing: 1px;
    font-family: 'Crimson-Pro';
    opacity: .8;
}

.calendar-wrap .time {
    font-size: .9rem;
}

.calendar {
    padding: 0 10px;
    margin: 2rem var(--calendar-margin-lr);
    border: 1px solid var(--border-color);
    border-left: 0;
    border-right: 0;
}

.calendar-table {
    line-height: 1.8rem;
    margin: auto;
    width: 100%;
    font-size: .875rem;
    padding: 1.5rem 0;
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}

.calendar-table>tbody tr td:first-child,
.calendar-table>thead tr th:first-child {
    color: #c6472b !important;
}

td {
    display: table-cell;
    vertical-align: inherit;
}

.calendar-Dday {
    color: #fff;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.calendar-Dday>div {
    margin: auto;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 30px;
    background: var(--icon-color);
}

.dday-wrap {
    letter-spacing: -.5px;
    border-left: 0;
    border-right: 0;
    font-size: .9rem;
}

.dday-wrap .countdown {
    font-family: Crimson-Pro;
    margin: 0 0 10px;
}

.dday-wrap .countdown>div {
    display: inline-block;
    vertical-align: top;
    font-size: 10px !important;
    letter-spacing: 0;
    line-height: 1rem;
    text-transform: uppercase;
}

.dday-wrap .countdown .card {
    color: var(--text-dark-color);
    font-size: 1.2rem !important;
    width: 2rem;
    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    opacity: .8;
}

.dday-wrap .countdown .desc {
    color: var(--text-dark-color);
    opacity: .4;
}

.dday-wrap .countdown>div>span {
    display: inline-block;
    padding: 0 2px;
    text-align: center;
    line-height: 1.8rem;
}

.dday-wrap .highlight {
    color: #ea7664;
}

/* calendar-wrap */

/* map-wrap */
.map-wrap {
    margin: 1px 0;
    padding: 40px 0;
}

.m-title {
    color: var(--title-text-color);
    letter-spacing: .5px;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.location-wrap {
    margin: 18px 0 26px;
}

.location-hall {
    color: #000;
}

.location-address {
    font-size: .95rem;
    color: var(--text-light-color);
}

#map {
    margin: auto;
    width: 100vw;
    height: 15rem;
}

.c-map-navi>div {
    flex: 1.2;
    margin: auto;
    height: 1.1rem;
    line-height: 1.1rem;
    border-right: 1px solid rgba(97, 80, 67, .15);
    text-align: center;
    cursor: pointer;
}

.c-map-navi {
    font-family: sans-serif;
    display: flex;
    font-size: .8rem;
    background: var(--third-bg-color);
    padding: 6px 10px;
}

.navi>img {
    object-fit: cover;
    width: 16px;
    height: 16px;
}

.waytocome-wrap {
    padding: 0 var(--common-margin-lr);
    text-align: left;
}

.waytocome-wrap .box {
    display: flex;
    padding: 10px 0;
}

.waytocome-wrap .box .right {
    flex: 999;
}

.waytocome-wrap .title {
    font-size: 1rem;
    color: var(--title-text-color);
}

.waytocome-wrap .content {
    font-size: .85rem;
    line-height: 1.5rem;
    /* white-space: pre-wrap; */
}

.map-inner {
    overflow: hidden;
}

/* map-wrap */

/*갤러리 css */
.gallery-wrap {
    margin: 1px 0;
    padding: 50px 0;
}

.m-title {
    color: var(--title-text-color);
    letter-spacing: .5px;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.gallery-wrap > .greetings-title {
    font-size: 16px;
}

.gallery-square {
    line-height: 0;
    text-align: left;
    margin: 0 16px
}

.gallery-square .item {
    position: relative;
    display: inline-block;
    background: #eee;
    overflow: hidden;
    width: calc(33.3% - 4px);
    margin: -2px;
}

.gallery-square .ph {
    position: relative;
    padding-bottom: 100%;
    background: rgba(0, 0, 0, .02);
}

.gothic {
    font-family: var(--font-gothic), BlinkMacSystemFont, Apple SD Gothic Neo, Helvetica Neue, Helvetica, Arial, Malgun Gothic, "\B9D1\C740 \ACE0\B515", Dotum, 돋움, sans-serif;
    letter-spacing: var(--font-gothic-spacing);
}

.gallery-square img {
    position: absolute;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    cursor: pointer;
}

.gallery-more-button-wrap {
    text-align: center;
}

.gallery-more-button {
    display: inline-block;
    margin: 20px auto 0;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    font-size: .85rem;
    cursor: pointer;
    color: var(--btn-text-color);
    background: var(--btn-bg-color);
    border: 1px solid var(--btn-border-color);
    padding: 4px 26px;
    border-radius: 32px;
}

.gallery-more-button>div {
    display: inline-block;
    width: 0.333rem;
    height: 0.333rem;
    margin-right: 6px;
    transform: translate(-50%) rotate(45deg);
    animation: bounce 1.5s ease-in-out infinite;
    border-bottom: 1px solid var(--btn-text-color);
    border-right: 1px solid var(--btn-text-color);
}

.display-none {
    display: none !important;
}

.gallery-more-images {
    animation: fade_in .7s ease-in-out;
}

/* account wrap */
.account-wrap {
    margin: 1px auto;
    padding: 40px var(--common-margin-lr);
}

.account-wrap>.content {
    margin: 0 1rem;
    font-size: .9rem;
    line-height: 1.6rem;
}

.c-account {
    max-width: 100%;
    margin: 2rem auto 0;
    font-size: .9rem;
}

.c-account .item:first-child {
    border: 0;
}

.c-account .text:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.c-account .item {
    margin-top: 12px;
}

.c-account .title {
    position: relative;
    margin: 0 auto;
    padding: 8px 0;
    text-align: center;
    cursor: pointer;
    z-index: 999;
    color: var(--text-dark-color);
    background: var(--third-bg-color);
    border: 1px solid var(--border-dark-color);
    border-radius: 6px;
}

.c-account .title>.arrow {
    position: absolute;
    top: 9px;
    right: 18px;
    transform: rotate(0);
    transition-duration: .5s;
    transform-origin: center center;
}

.c-account svg {
    width: 0.75rem;
    height: 0.75rem;
    margin-top: -6px;
}

.c-account .text>.inner {
    padding: 0.75rem 0 0.75rem 0.85rem;
    line-height: 26px;
    letter-spacing: 0;
    text-align: left;
    background: var(--fourth-bg-color);
}

/* account wrap */

/* guest book wrap */
.guestbook-wrap {
    padding-top: 40px;
    margin-bottom: 40px;
}

.c-guestbook {
    margin: 0;
    font-size: .7rem;
}

.c-guestbook .comments {
    padding: var(--common-margin-lr);
    background: var(--secondary-bg-color);
    border: var(--border-size) solid var(--border-light-color);
    border-left: 0;
    border-right: 0;
}

.c-guestbook .item {
    position: relative;
    padding: 0.75rem 1rem;
    text-align: left;
    line-height: 1.5rem;
    background: var(--fourth-bg-color);
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid var(--border-light-color);
}

.c-guestbook .item .close {
    position: absolute;
    top: 1.2rem;
    right: 1rem;
    line-height: 0;
    text-align: center;
    cursor: pointer;
}

.c-guestbook .item .name {
    font-weight: 600;
    font-size: .8rem;
    margin-bottom: 0.25rem;
}

.c-guestbook .item .text {
    line-height: 1.25rem;
}

.c-guestbook .tools {
    padding: 10px var(--common-margin-lr);
}

.c-guestbook .tools>.writing {
    display: inline-block;
    width: 5.5rem;
    padding: 8px 0;
}
/* guest book wrap */

/*예식정보 및 안내사항*/
.notice-tab-wrap {
    padding: 10px var(--common-margin-lr);
    margin: 30px 0;
}
.notice-tab-wrap .m-title {
    margin-bottom: 30px;
}
.m-title {
    color: var(--title-text-color);
    letter-spacing: .5px;
    font-size: 1.1rem;
    margin-bottom: 20px;
}
.ntab {
    font-size: .9rem;
    line-height: 1.7rem;
}
.notice-tab-wrap .ntab .titles.bg {
    background: var(--secondary-bg-color);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.ntab>.titles {
    display: flex;
}
.notice-tab-wrap .ntab .title[active] {
    position: relative;
    color: var(--title-text-color);
    background: var(--primary-bg-color);
    background-image: var(--primary-bg-image);
    border-color: var(--border-color);
}
.notice-tab-wrap .ntab .title:first-child {
    margin-left: 0;
}
.ntab>.titles>.title {
    flex: 1;
    cursor: pointer;
}
.notice-tab-wrap .ntab .title {
    flex: 1;
    position: relative;
    padding: 8px;
    margin: 0 0 -1px -1px;
    border: 1px solid transparent;
    border-bottom: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    cursor: pointer;
}
.notice-tab-wrap .ntab .contents.first-tab {
    border-top-left-radius: 0;
}
.notice-tab-wrap .ntab .contents {
    padding: 2rem 0.8rem;
    border: 1px solid var(--border-color);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: hsla(0,0%,100%,.5);
    box-shadow: 0 100px 0 0 var(--primary-bg-color),0 100px 0 100px var(--secondary-bg-color);
}
.ntab-viewport {
    transition: height .3s;
}
.ntab .content {
    width: 100%;
    padding-bottom: 1px;
}
.notice-tab-wrap .ntab .contents .img-wrap.top {
    margin-bottom: 1.2rem;
}
.notice-tab-wrap .ntab .contents .img-wrap {
    display: inline-block;
    width: 90%;
}
.ntab .content .img-wrap {
    line-height: 0;
}
.notice-tab-wrap .ntab .text {
    padding: 0 0.8rem;
}
.notice-wrap {
    padding: 10px var(--common-margin-lr);
    margin: 30px 0;
}
.notice-wrap .box:first-child {
    margin-top: 0;
}

.notice-wrap .box {
    margin: 50px 0 0;
    padding: 1.6rem 0.8rem 2rem;
    background: hsla(0,0%,100%,.5);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-sizing: border-box;
}

.notice-wrap .title {
    color: var(--title-text-color);
    font-size: 1rem;
    margin-bottom: 0.7rem;
}
.notice-wrap .text {
    font-size: .9rem;
    line-height: 1.6rem;
}
.rsvp-wrap {
    padding: 10px var(--common-margin-lr);
    margin: 30px 0;
}
.rsvp-wrap .card {
    padding: 1.6rem 0.8rem 2rem;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    background: hsla(0,0%,100%,.5);
}
.rsvp-wrap .title {
    color: var(--title-text-color);
    font-size: 1rem;
    margin-bottom: 0.7rem;
}
.m-button.dark {
    border: 1px solid var(--btn-dark-border-color);
    background: var(--btn-dark-bg-color);
    color: var(--btn-dark-text-color);
}
.m-button img, .m-button svg {
    margin: -1px 2px 0;
    height: 0.86rem;
    width: 0.86rem;
    vertical-align: middle;
}
.m-button {
    display: inline-block;
    text-decoration: none;
    height: 2rem;
    line-height: 2rem;
    background: #fff;
    padding: 0 26px;
    background: var(--btn-bg-color);
    color: var(--btn-text-color);
    border: 1px solid var(--btn-border-color);
    border-radius: 32px;
    font-size: .86rem;
    font-weight: 400;
    cursor: pointer;
    letter-spacing: 0!important;
}

/*모달 창 css*/
/** 공통 속성 설정 */
* { padding: 0; margin: 0; }
ul { list-style: none; }
.pull-left { float: left; }
.clearfix:after { content: ''; display: block; clear: both; float: none; }

/** 목록 박스의 넓이 지정 및 중앙 배치 */
.gallery { width: 700px; margin: auto; border: 5px solid #d5d5d5; }

/** 각 항목에 대한 가로 배열 */
.gallery .item { width: 25%; }

/** 각 항목 링크에 대한 크기 지정 */
.gallery .item .modal { display: block; margin: 10px; width: auto; }

/** 이미지에 대한 테두리 제거 및 여백 지정 */
.gallery .item .modal img { width: 100%; height: 100%; }

/** 화면 전체를 덮는 배경 레이어의 위치, 크기, 투명도 지정 > 기본적으로 표시되지 않도록 설정 */
.gray_layer {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.60;
    display: none;
    z-index: 998;
}

/** 이미지가 표현될 레이어를 화면 중앙에 배치 > 기본적으로 표시되지 않도록 설정 */
.over_layer {
    /* 요소의 좌측상단 꼭지점이 화면 중앙에 위치하게 된다. */
    position: fixed;
    top: 50%;
    left: 50%;
    /* 요소의 크기/2 만큼 왼쪽,상단 방향으로 이동시켜 가운데 배치한다 */
    margin-left: -188px;
    display: none;
    width: 369px;
    height: 507px;
    margin-top: -230px;
    background-color: white;
    z-index: 999;
}

.v--modal-overlay.scrollable .v--modal-box {
    margin-bottom: 2px;
}
.v--modal-overlay .v--modal-box {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}
.v--modal {
    background-color: white;
    text-align: left;
    border-radius: 3px;
    box-shadow: 0 20px 60px -2px rgba(27, 33, 58, 0.4);
    padding: 0;
}
