<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta charset="UTF-8">
    <title>이강민 ♥ 이지혜 결혼합니다</title>
    <script type="text/javascript"
        src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=bhncyvb1zh"></script>
</head>

<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/animation.css">
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src="/js/popUp.js"></script>

<body>

    <div class='gray_layer' id='background'></div>
    <div class='over_layer' id='front'></div>

    <div class="mcard-view">
        <div class="mcard-intro">
            <div>
                <img class="photo" src="/images/main_photo.jpeg" />
            </div>
            <div class="name-wrap">
                <div class="groom">
                    <span class="name">이강민</span>
                </div>
                <div class="divider">
                    <div>06</div>
                    <hr />
                    <div>01</div>
                </div>
                <div class="bride">
                    <span class="name">이지혜</span>
                </div>

            </div>
            <div class="date-place">
                <div class="date">2024.06.01 SAT. 12:30 PM</div>
                <div class="place">한국기독교연합회관 3층 아가페홀</div>
            </div>
        </div>
        <div class="word">
            <div class="paragraph-wrap">
                <div class="title to-fade-in">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div>
                <div class="text to-fade-in">
                    그러므로 사람이 부모를 떠나<br>
                    그의 아내와 합하여<br> 그 둘이 한 육체가 될지니<br>
                    이 비밀이 크도다 <br>
                    나는 그리스도와 교회에 대하여 말하노라 <br><br>
                    에베소서 5 : 31~32
                </div>

            </div>

        </div>
        <div class="greeting-wrap">

            <!--div 4개로 나누기-->
            <div class="text-box1 to-fade-in"><!--글귀 1-->
                소중한 분들을 초대합니다
            </div>

            <div class="text-box2 to-fade-in"><!--글귀 2-->
                살랑이는 바람결에 <br>
                사랑이 묻어나는 계절입니다. <br>
                여기 곱고 예쁜 두 사람이 <span class="font-brown">사랑</span>을 맺어 <br>
                인생의 반려자가 되려 합니다. <br>
                새 인생을 시작하는 이 자리에 오셔서 <br>
                <span class="font-brown">축복</span>해 주시면 감사하겠습니다. <br>
            </div>

            <div class="photo-div-box to-fade-in"><!--사진 1-->
                <img class="photo photo-center" src="/images/greeting_photo.jpeg" />
            </div>

            <div class="to-fade-in" style="padding: 18px 0;"><!--부모이름 + 자녀 이름-->
                <div>
                    <span class="boy_father_name"></span> <span>·</span> <span class="boy_mother_name"></span>
                    <span class="font-size-8">의 아들</span>
                    <span class="boy_name"></span>
                </div>

                <br>
                <div style="margin-top: -40px;">
                    <span class="girl_father_name"></span> <span>·</span> <span class="girl_mother_name"></span>
                    <span class="font-size-8">의 딸</span>
                    <span class="girl_name"></span>
                </div>
            </div>

            <div><!--연락하기 버튼 1--></div>
            <button onclick="fnClickCalling()" class="call-btn">연락하기</button>



        </div>
        <div class="calendar-wrap">
            <div class="calendar-inner">
                <div class="title to-fade-in">
                    <div class="date">2024.06.01</div>
                    <div class="time">토요일 오후 12시 30분</div>
                </div>
                <div class="calendar to-fade-in">
                    <table class="calendar-table" cellspacing="0">
                        <thead>
                            <tr>
                                <th>일</th>
                                <th>월</th>
                                <th>화</th>
                                <th>수</th>
                                <th>목</th>
                                <th>금</th>
                                <th>토</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="position: relative;"><!----> <span class=""></span></td>
                                <td style="position: relative;"><!----> <span class=""></span></td>
                                <td style="position: relative;"><!----> <span class=""></span></td>
                                <td style="position: relative;"><!----> <span class=""></span></td>
                                <td style="position: relative;"><!----> <span class=""></span></td>
                                <td style="position: relative;"><!----> <span class=""></span></td>
                                <td style="position: relative;">
                                    <div class="calendar-Dday">
                                        <div class="">1</div>
                                    </div> <span class="">1</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="position: relative;"><!----> <span class="">2</span></td>
                                <td style="position: relative;"><!----> <span class="">3</span></td>
                                <td style="position: relative;"><!----> <span class="">4</span></td>
                                <td style="position: relative;"><!----> <span class="">5</span></td>
                                <td style="position: relative;"><!----> <span class="">6</span></td>
                                <td style="position: relative;"><!----> <span class="">7</span></td>
                                <td style="position: relative;"><!----> <span class="">8</span></td>

                            </tr>
                            <tr>
                                <td style="position: relative;"><!----> <span class="">9</span></td>
                                <td style="position: relative;"><!----> <span class="">10</span></td>
                                <td style="position: relative;"><!----> <span class="">11</span></td>
                                <td style="position: relative;"><!----> <span class="">12</span></td>
                                <td style="position: relative;"><!----> <span class="">13</span></td>
                                <td style="position: relative;"><!----> <span class="">14</span></td>
                                <td style="position: relative;"><!----> <span class="">15</span></td>

                            </tr>
                            <tr>
                                <td style="position: relative;"><!----> <span class="">16</span></td>
                                <td style="position: relative;"><!----> <span class="">17</span></td>
                                <td style="position: relative;"><!----> <span class="">18</span></td>
                                <td style="position: relative;"><!----> <span class="">19</span></td>
                                <td style="position: relative;"><!----> <span class="">20</span></td>
                                <td style="position: relative;"><!----> <span class="">21</span></td>
                                <td style="position: relative;"><!----> <span class="">22</span></td>

                            </tr>
                            <tr>
                                <td style="position: relative;"><!----> <span class="">23</span></td>
                                <td style="position: relative;"><!----> <span class="">24</span></td>
                                <td style="position: relative;"><!----> <span class="">25</span></td>
                                <td style="position: relative;"><!----> <span class="">26</span></td>
                                <td style="position: relative;"><!----> <span class="">27</span></td>
                                <td style="position: relative;"><!----> <span class="">28</span></td>
                                <td style="position: relative;"><!----> <span class="">29</span></td>
                            </tr>
                            <tr>
                                <td style="position: relative;"><!----> <span class="">30</span></td>
                                <td style="position: relative;"><!----> <span class=""></span></td>
                                <td style="position: relative;"><!----> <span class=""></span></td>
                                <td style="position: relative;"><!----> <span class=""></span></td>
                                <td style="position: relative;"><!----> <span class=""></span></td>
                                <td style="position: relative;"><!----> <span class=""></span></td>
                                <td style="position: relative;"><!----> <span class=""></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- <span id="clock"></span> -->
                <div class="dday-wrap to-fade-in">
                    <div class="countdown">
                        <div>

                            <div class="desc">Days</div><span class="card days"
                                style="min-width: 2rem; width: auto;">20</span>
                        </div>
                        <div>
                            <div class="desc">&nbsp;</div><span>:</span>
                        </div>
                        <div>
                            <div class="desc">Hour</div><span class="card" id="hour">21</span>
                        </div>
                        <div>
                            <div class="desc">&nbsp;</div><span>:</span>
                        </div>
                        <div>
                            <div class="desc">Min</div><span class="card" id="min">54</span>
                        </div>
                        <div>
                            <div class="desc">&nbsp;</div><span>:</span>
                        </div>
                        <div>
                            <div class="desc">Sec</div><span class="card" id="sec">26</span>
                        </div>
                    </div>
                    <div>
                        강민 <span class="highlight" style="font-size: 11px;">♥</span> 지혜의 결혼식이
                        <span><span class="highlight days">34 </span><span class="highlight">일</span>
                            <span>남았습니다.</span> <!----></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="gallery-wrap">
            <div class="m-title fade-in" style="opacity:1; transform: translate(0px, 0px);">
                <div class="greetings-title"> 갤러리</div>
            </div>

            <div class="gallery-container gothic fade-in">
                <div class="gallery-square">
                    <div class="item">
                        <div class="ph"></div>
                        <img src="/images/greeting_photo.jpeg" class="img-blur">
                    </div>
                    <div class="item">
                        <div class="ph"></div>
                        <img src="/images/greeting_photo.jpeg" class="img-blur">
                    </div>
                    <div class="item">
                        <div class="ph"></div>
                        <img src="/images/greeting_photo.jpeg" class="img-blur">
                    </div>
                    <div class="item">
                        <div class="ph"></div>
                        <img src="/images/greeting_photo.jpeg" class="img-blur">
                    </div>
                    <div class="item">
                        <div class="ph"></div>
                        <img src="/images/greeting_photo.jpeg" class="img-blur">
                    </div>
                    <div class="item">
                        <div class="ph"></div>
                        <img src="/images/greeting_photo.jpeg" class="img-blur">
                    </div>
                    <div class="item">
                        <div class="ph"></div>
                        <img src="/images/greeting_photo.jpeg" class="img-blur">
                    </div>
                    <div class="item">
                        <div class="ph"></div>
                        <img src="/images/greeting_photo.jpeg" class="img-blur">
                    </div>
                    <div class="item">
                        <div class="ph"></div>
                        <img src="/images/greeting_photo.jpeg" class="img-blur">
                    </div>

                    <div class="gallery-more-button-wrap">
                        <div class="gallery-more-button">
                            <div></div> <span>사진 더 보기</span>
                        </div>
                    </div>


                    <div id="add-3img" class="display-none">
                        <div class="item">
                            <div class="ph"></div>
                            <img src="/images/greeting_photo.jpeg" class="img-blur">
                        </div>
                        <div class="item">
                            <div class="ph"></div>
                            <img src="/images/greeting_photo.jpeg" class="img-blur">
                        </div>
                        <div class="item">
                            <div class="ph"></div>
                            <img src="/images/greeting_photo.jpeg" class="img-blur">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="map-wrap">
            <div class="m-title to-fade-in">
                <div class="greetings-title">
                    오시는 길
                </div>
            </div>
            <div>
                <div class="location-wrap">
                    <div class="location-hall fade-in">
                        <div>한국기독교연합회관 3층 아가페홀</div>
                    </div>
                    <div class="location-address fade-in">
                        <div>서울 종로구 김상옥로 30</div>
                    </div>
                </div>
                <div class="map-inner fade-in"><!---->
                    <div>
                        <div id="map"></div>
                    </div>
                    <div>
                        <!--37.572892, 127.0009225-->
                        <div class="c-map-navi gothic">
                            <div class="navi"
                                onclick="openNaverMapApp(location.href='://place?lat=37.572892&lng=127.0009225&name=%ED%95%9C%EA%B5%AD%EA%B8%B0%EB%8F%85%EC%97%B0%ED%95%A9%ED%9A%8C%EA%B4%80%0A&appname=kangminlovesjihye.ddns.net')">
                                <img src="/images/icon_navermap.png">
                                <span>네이버 지도</span>
                            </div>
                            <div class="navi">
                                <img src="/images/icon_kakaonavi.png">
                                <span>카카오 내비</span>
                            </div>
                            <div class="navi">
                                <img src="/images/icon_tmap.png">
                                <span>티맵</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="waytocome-wrap">
                    <div class="box to-fade-in"><!---->
                        <div class="right">
                            <div class="title"><span>지하철</span></div>
                            <div class="content">
                                <div><span style="color:#77815c">⦁ 1호선 종로5가역</span> 1번 출구 (도보 2분)
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box fade-in"><!---->
                        <div class="right">
                            <div class="title"><span>주차</span></div>
                            <div class="content">
                                <div>예식장 건물 내 2시간 무료 주차가 가능합니다.
                                    안내데스크에서 <span class="c-bold"><u>주차권</u></span>을 수령할 수 있습니다.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div>
            <div>
                <div class="notice-tab-wrap white">
                    <div class="m-title fade-in" style="opacity: 1; transform: translate(0px, 0px);">
                        <div class="greetings-title">예식정보 및 안내사항</div>
                    </div>
                    <div class="ntab fade-in" style="overflow: hidden; opacity: 1; transform: translate(0px, 0px);">
                        <div class="titles bg">
                            <div active="true" class="title" tab-page="1"><span>포토부스</span></div>
                            <div class="title" tab-page="2"><span>식사안내</span></div>
                            <div class="title" tab-page="3"><span>주차안내</span></div>
                        </div>
                        <div class="contents first-tab">
                            <div>
                                <div class="ntab-viewport"
                                    style="position: relative; z-index: 100; overflow: hidden; min-height: 100%; width: 100%; touch-action: pan-y; user-select: none; -webkit-user-drag: none; height: 293.938px;">
                                    <div class="ntab-camera"
                                        style="width: 100%; height: 100%; will-change: transform; transform: translate3d(0px, 0px, 0px);">
                                        <div id="ntab-item-0" class="content ntab-panel"
                                            style="left: 0px; position: absolute;">
                                            <div class="img-wrap top" style="aspect-ratio: 1280 / 656;"><img
                                                    style="width: 100%;" src="/images/camera.jpg"></div>
                                            <div class="text">포토부스가 설치될 예정입니다.<br>귀한 발걸음 해주신 여러분의<br>환한 미소와 따뜻한 말씀
                                                남겨주시면<br>소중히 간직하도록 하겠습니다.</div>
                                        </div>

                                        <div id="ntab-item-1" class="content ntab-panel"
                                            style="left: 318.219px; position: absolute;">
                                            <div class="text">식사는 결혼식 및 사진 촬영이 끝난 후<br>웨딩홀 2층에서 뷔페식으로 진행됩니다.<p></p>부족함
                                                없이 즐기실 수 있도록<br>한식을 비롯해 중식, 양식, 일식 등<br>다양한 메뉴가 준비되어 있습니다.</div>
                                        </div>

                                        <div id="ntab-item-2" class="content ntab-panel"
                                            style="left: 636.438px; position: absolute;">
                                            <div class="text">웨딩홀 지하 3층~7층 주차 시<br>2시간 무료주차가 가능합니다.<p></p>웨딩홀 주차장 만차
                                                시<br>웨딩홀 뒷편의 공용 주차장에<br>1시간 무료주차가 가능합니다.</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div>
            <div>
                <div class="notice-wrap"><!---->
                    <div class="boxs">
                        <div class="box fade-in" style="opacity: 1; transform: translate(0px, 0px);">
                            <div>
                                <div class="title fade-in" style="opacity: 1; transform: translate(0px, 0px);">피로연 안내
                                </div>
                                <div class="text fade-in" style="opacity: 1; transform: translate(0px, 0px);">
                                    <div>본식에 참석하기 어려운 분들을 위해<br>작은 피로연 자리를 마련하였습니다.<p></p>📍 아젠토피오레 컨벤션<br>10월 20일 (토)
                                        저녁 6시</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="rsvp-wrap fade-in" style="opacity: 1; transform: translate(0px, 0px);">
                <div class="card">
                    <div class="title"><span>참석 의사 전달</span></div>
                    <div class="text">
                        <div>축하의 마음으로 참석해주시는<br>모든 분들을 귀하게 모실 수 있도록<br>참석 의사를 전달 부탁드립니다.</div>
                    </div>
                    <div class="m-button dark gothic"><svg viewBox="0 0 24 24" fill="none" stroke="currentColor"
                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-check">
                            <polyline points="20 6 9 17 4 12"></polyline>
                        </svg>참석 의사 전달하기</div>
                </div>
            </div>
        </div>

        <div>
            <div class="account-wrap">
                <div class="m-title fade-in"><span>마음 전하실 곳</span></div>
                <div class="content fade-in">
                    <div>참석이 어려우신 분들을 위해<br>계좌번호를 기재하였습니다.<br>너그러운 마음으로 양해 부탁드립니다.</div>
                </div>
                <div class="c-account fade-in">
                    <div class="item">
                        <div class="title">
                            <div>
                                신랑측 계좌번호
                            </div>
                            <div class="arrow"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M19 9l-7 7-7-7"></path>
                                </svg></div>
                        </div>
                        <div class="text gothic" style="height: 0px; display: none;">
                            <div class="inner"><span><span class="bank">신한</span> <span>110-123-456789</span></span><br>
                                <span>최재만</span>
                            </div>
                            <div>
                                <div class="btn-action"><svg aria-hidden="true" width="46.08" height="46.08"
                                        viewBox="0.48 0.48 23.04 23.04" fill="#222F3D" class="ov-icon"
                                        style="font-size: 2.88em;">
                                        <path fill="none" d="M0 0h24v24H0z"></path>
                                        <path
                                            d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z">
                                        </path>
                                    </svg>
                                    복사
                                </div> <!---->
                            </div>
                        </div>
                        <div class="text gothic" style="height: 0px; display: none;">
                            <div class="inner"><span><span class="bank">신한</span> <span>110-123-456789</span></span><br>
                                <span>최도현</span>
                            </div>
                            <div>
                                <div class="btn-action"><svg aria-hidden="true" width="46.08" height="46.08"
                                        viewBox="0.48 0.48 23.04 23.04" fill="#222F3D" class="ov-icon"
                                        style="font-size: 2.88em;">
                                        <path fill="none" d="M0 0h24v24H0z"></path>
                                        <path
                                            d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z">
                                        </path>
                                    </svg>
                                    복사
                                </div> <!---->
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="title">
                            <div>
                                신부측 계좌번호
                            </div>
                            <div class="arrow"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M19 9l-7 7-7-7"></path>
                                </svg></div>
                        </div>
                        <div class="text gothic" style="display: none;">
                            <div class="inner"><span><span class="bank">국민</span>
                                    <span>200123-45-678900</span></span><br> <span>이하나</span></div>
                            <div>
                                <div class="btn-action"><svg aria-hidden="true" width="46.08" height="46.08"
                                        viewBox="0.48 0.48 23.04 23.04" fill="#222F3D" class="ov-icon"
                                        style="font-size: 2.88em;">
                                        <path fill="none" d="M0 0h24v24H0z"></path>
                                        <path
                                            d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z">
                                        </path>
                                    </svg>
                                    복사
                                </div>
                                <div class="btn-action kakaopay"><img src="/mcard/assets/images/icon-kakaopay.png">
                                </div>
                            </div>
                        </div>
                        <div class="text gothic" style="display: none;">
                            <div class="inner"><span><span class="bank">신한</span> <span>110-123-456789</span></span><br>
                                <span>이승태</span>
                            </div>
                            <div>
                                <div class="btn-action"><svg aria-hidden="true" width="46.08" height="46.08"
                                        viewBox="0.48 0.48 23.04 23.04" fill="#222F3D" class="ov-icon"
                                        style="font-size: 2.88em;">
                                        <path fill="none" d="M0 0h24v24H0z"></path>
                                        <path
                                            d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z">
                                        </path>
                                    </svg>
                                    복사
                                </div> <!---->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="guestbook-wrap">
                    <div class="m-title fade-in" style="opacity: 1; transform: translate(0px, 0px);">
                        <div class="greetings-title">
                            방명록
                        </div>
                    </div>
                    <div class="c-guestbook gothic">
                        <div class="comments fade-in" style="opacity: 1; transform: translate(0px, 0px);">
                            <div class="item" th:each="comment : ${comments}">
                                <div class="close"><span class="date" th:text="${comment.date}">2023.03.22</span> <span
                                        class="icon" th:commentId="${comment.id}"
                                        th:onclick="openModal('comment/' + this.getAttribute('commentId'))">
                                        <!--FIXME : 나중에 ajax로 고치자-->
                                        <!--                                |window.location.href='@{/comment/{id}(id=${comment.id})}'|-->
                                        <svg width="10px" height="10px" viewBox="0 0 15 15" fill="black"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M6.7929 7.49998L1.14645 1.85353L1.85356 1.14642L7.50001 6.79287L13.1465 1.14642L13.8536 1.85353L8.20711 7.49998L13.8536 13.1464L13.1465 13.8535L7.50001 8.20708L1.85356 13.8535L1.14645 13.1464L6.7929 7.49998Z">
                                            </path>
                                        </svg></span></div>
                                <div class="name" th:text="${comment.name}">꼬꼬마친구</div>
                                <div class="text" th:text="${comment.content}">결혼 너무 축하한당 ❤️<br>예쁜 사랑 예쁜 나날들이 가득하기를 🌿
                                </div>
                            </div>
                            <!---->
                        </div>
                        <div class="tools fade-in" style="opacity: 1; transform: translate(0px, 0px);">
                            <div class="pagination-wrap"><!----></div>
                            <div class="writing"><button class="m-button gothic" onclick="openModal('comment')">
                                    작성하기
                                </button></div>
                        </div> <!---->
                    </div>
                </div>
            </div>
        </div>


    </div>

    <script id="code">
        var mapOptions = {
            center: new naver.maps.LatLng(37.572892, 127.0009225),
            zoom: 17
        };

        var mapDiv = document.getElementById('map');
        var map = new naver.maps.Map(mapDiv, mapOptions);

        var marker = new naver.maps.Marker({
            position: new naver.maps.LatLng(37.572892, 127.0009225),
            map: map
        });
    </script>
    <script>

        //초기 설정
        var girl_name = "지혜";
        var boy_name = "강민";
        var girl_father_name = "이한호";
        var girl_mother_name = "김명수";
        var boy_father_name = "이점용";
        var boy_mother_name = "김미정";

        $(window).load(function () {
            $(".boy_name").text(boy_name);
            $(".boy_father_name").text(boy_father_name);
            $(".boy_mother_name").text(boy_mother_name);
            $(".girl_name").text(girl_name);
            $(".girl_father_name").text(girl_father_name);
            $(".girl_mother_name").text(girl_mother_name);

        });

        $(function () {
            try {
                getClock(1); //맨처음에 한번 실행
            } catch (e) {
                if (window.console) {
                    console.log(e);
                }
            }
        });
        setInterval(getClock, 1000); //1초 주기로 새로실행


        //This function calculate and update remained time.
        function getClock(initialization) {

            const currentTime = new Date();
            const goalTime = new Date('2024-06-01T12:30:00');
            // const baseTime = new Date();
            var diff = goalTime.getTime() - currentTime.getTime();
            // const left = new Date();

            // baseTime.setTime(0);
            // left.setTime(baseTime.getTime() + diff.getTime());

            const days = String(Math.trunc(diff / (1000 * 3600 * 24))).padStart(2, "0");
            diff = diff % (1000 * 3600 * 24);
            const hour = String(Math.trunc(diff / (1000 * 3600))).padStart(2, "0");
            diff = diff % (1000 * 3600);
            const min = String(Math.trunc(diff / (1000 * 60))).padStart(2, "0");
            diff = diff % (1000 * 60);
            const sec = String(Math.trunc(diff / 1000)).padStart(2, "0");

            $("span#sec").text(sec);
            if (sec == 0) {
                $("span#min").text(min);
            }
            if (min == 0) {
                $("span#hour").text(hour);
            }
            if (hour == 0) {
                $("span#days").text(days);
            }
            else if (initialization == 1) {
                $("span#min").text(min);
                $("span#hour").text(hour);
                $("span.days").text(days);
            }


        }


        // This code is related when the animation would be occured.
        const options = {
            root: null, // viewport
            rootMargin: "0px",
            threshold: 1.0,
            // How much the element shows on the screen.
            // In this case 100%. You can change this value.
        }

        const upwardObserver = new IntersectionObserver(entries => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    entry.target.classList.add('fade-in');
                }
            });
        }, options);

        // Adhere "slideUp" class to the all elements which haved class named "slideUp".
        const slideUpList = document.querySelectorAll('.to-fade-in');

        slideUpList.forEach(el => upwardObserver.observe(el));

        //연락하기 버튼 클릭 기능
        function fnClickCalling() {
            console.log("연락하기");
            window.open("/home", "test",);
            document.location.href = 'tel:01056318638';
        }

        //사진 더 보기 클릭 기능
        $(".gallery-more-button").click(function () {
            //1.사진 3개 추가 2.버튼 제거
            $("#add-3img").removeClass("display-none");
            $(".gallery-more-button").addClass("display-none");
            $("#add-3img").addClass("fade-in");
        });

        //예식정보 및 안내사항
        $(".title").click(function () {

            $(".titles .title").removeAttr("active");
            this.setAttribute('active', true);
            console.log(this);
            var page_num = this.getAttribute("tab-page");
            console.log("page_num", page_num);
            if (page_num == "1") {
                $("#ntab-item-0").css("left", "0px");
                $("#ntab-item-1").css("left", "318.219px");
                $("#ntab-item-2").css("left", "(318.219 * 2)px");
            } else if (page_num == "2") {
                $("#ntab-item-0").css("left", "-318.219px");
                $("#ntab-item-1").css("left", "0px");
                $("#ntab-item-2").css("left", "318.219px");
            } else if (page_num == "3") {
                $("#ntab-item-0").css("left", "-(318.219 * 2)px");
                $("#ntab-item-1").css("left", "-318.219px");
                $("#ntab-item-2").css("left", "0px");
            }


        });
        // os 체크
        function checkMobile() {

            var varUA = navigator.userAgent.toLowerCase(); //userAgent 값 얻기

            if (varUA.indexOf('android') > -1) {
                //안드로이드
                return "android";
            } else if (varUA.indexOf("iphone") > -1 || varUA.indexOf("ipad") > -1 || varUA.indexOf("ipod") > -1) {
                //IOS
                return "ios";
            } else {
                //아이폰, 안드로이드 외
                return "other";
            }

        }

        //네이버 지도 open
        function openNaverMapApp(url) {
            var os = checkModbile();
            console.log(os);
            if(os=="ios"){
                var clickedAt = +new Date();

                location.href = 'nmap'+ url;

                setTimeout(function () {
                    if (+new Date() - clickedAt < 2000) {
                        location.href = 'http://itunes.apple.com/app/id311867728?mt=8';
                    }
                }, 1500);
            }
            else if(os=="android"){
                location.href = 'intent' + url + '#Intent;scheme=nmap;action=android.intent.action.VIEW;category=android.intent.category.BROWSABLE;package=com.nhn.android.nmap;end'
            }

        }
    </script>
</body>

</html>